.user-form {
	display: inline-block;
	width: 45%;
	vertical-align: top;
	margin: 20px;
}
.red{
	color: red;
}

.form-group > span {
	display: block;
	color: red;
	font-weight: bold;
}
#delete-form {
	display: inline-block;
}
